@use "../../styles/partials" as *;

.panel{
    background-color: $square-dark;
    border-radius: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5 );
    width: 60vw;
    height: 60vh;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 20;
    padding: $mobile-indent;
    &__exit{
        background-image: url('../../assets/exit.svg');
        background-position: center;
        background-size: cover;
        border:none;
        background-color: rgba(#fff, 0);
        outline: none;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 1rem;
    }
}
.panel--animation{
    animation: slidein 0.5s ease-out 0s 1 normal none;
}
@keyframes slidein {
    from{
        transform: translateX(60vw);
    }
    to{
        transform: translateX(0)
    }
}
.settingsform{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.radiobuttons{
    display: flex;
    flex-direction: row;
}